*_private.zsh
*_creds.zsh
.netrwhist
vim/vim.symlink/bundle/ctrlp.vim/
vim/vim.symlink/bundle/html5.vim/
vim/vim.symlink/bundle/jshint2.vim/
vim/vim.symlink/bundle/scss-syntax.vim/
vim/vim.symlink/bundle/supertab/
vim/vim.symlink/bundle/tabular/
vim/vim.symlink/bundle/tern_for_vim/
vim/vim.symlink/bundle/tmuxline.vim/
vim/vim.symlink/bundle/vim-airline/
vim/vim.symlink/bundle/vim-css3-syntax/
vim/vim.symlink/bundle/vim-cucumber/
vim/vim.symlink/bundle/vim-fugitive/
vim/vim.symlink/bundle/vim-javascript/
vim/vim.symlink/bundle/vim-json/
vim/vim.symlink/bundle/vim-gitgutter/
vim/vim.symlink/bundle/vim-less
vim/vim.symlink/bundle/vim-markdown/
vim/vim.symlink/bundle/vim-mustache-handlebars/
vim/vim.symlink/bundle/vim-monokai/
vim/vim.symlink/bundle/vimrc/

